# {{ schema.name }}: a data model for life-sciences data.

Testing how to render linkml on github pages

## Classes ([Visualization](categories.html))

| Class | Description |
{% for c in schemaview.all_classes(ordered_by="lexical").values()|sort(attribute='name') -%}
{%- if 'association' not in schemaview.class_ancestors(c.name) and not schemaview.is_mixin(c.name) 
    and not c.name.startswith("derived_") -%}
| --- | --- |
| {{gen.link(c)}} | {{c.description}} |
{%- endif -%}
{% endfor %}

## Class Properties

| Property | Description |
| --- | --- |
{% for np in schemaview.all_slots(ordered_by="lexical").values()|sort(attribute='name') %}
  {% set ns = namespace(used_in_core_class=false) %}
  {% for cls in schemaview.slot_domain_usage(np.name) %}
    {% if not cls.startswith("derived_") %}
      {% set ns.used_in_core_class = true %}
    {% endif %}
  {% endfor %}
  {% if ns.used_in_core_class %}
| {{gen.link(np)}} | {{np.description or "No description"}} |
  {% endif %}
{% endfor %}


## Enumerations

| Enumeration | Description |
| --- | --- |
{% for e in schemaview.all_enums().values()|sort(attribute='name') -%}
| {{gen.link(e)}} | {{e.description}} |
{% endfor %}

## Subsets

| Subset | Description |
| --- | --- |
{% for ss in schemaview.all_subsets().values()|sort(attribute='name') -%}
| {{gen.link(ss)}} | {{ss.description}} |
{% endfor %}
